body
{
    /* background-color: black; */
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.295)), 
    url(../images/nycview.jpg);
    background-position: bottom;
    color: azure;
    font-family: "Nunito",sans-serif;
    
}


#itstanji {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    position: absolute;

    top: 50%;
  
    left: 50%;
  
    transform: translate(-50%, -50%);
  
    margin: 0;

}

#mainNavbar {
    background-color: black;
}

#footie{
    background-color: black;
}
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mainNavbar .navbar-brand
{
    color:  #ffffff;
    font-size:x-large;
    font-weight: 900;
}

#mainNavbar .nav-link:hover
{
    color:  #65ff00;
}



header a {
    text-decoration: none;
}

header#topbar {
    padding: 0 20px;
    background-color: #301B3F;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#name {
    font-weight: bolder;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: aliceblue;
}


#bar {
    float: left;
}

#bar li {
    display: inline-block;
    padding: 10px;
    margin-top: 5px;
}

#bar a {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    color: aliceblue;
}

/* Selects any <a> element when "hovered" */
#bar a:hover {
    color: rgb(0, 253, 42);
    transition: .5s;
}

#twit {
    padding-left: 10px;
    padding-right: 10px;
}

#git {
    padding-left: 10px;
    padding-right: 10px;
}

#emai {
    padding-left: 10px;
    padding-right: 10px;
}


@media (max-width: 768px) {
    .container-hobbies-list {
        display: block;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
}

@media (max-width:580px) {

    #top-text {
        font-size: 10px;
        text-align: center;
        margin: 30px 100px 25px;
    }

    #itsme {
        font-family: 'Krona One', sans-serif;
        text-align: center;
        font-size: 50px;
        color: #FFFFFF;
    }

    .container-hobbies-list {
        display: block;
    }

    #hobbies li {
        font-size: 20px;
        padding-bottom: 10px;
        text-align: left;
    }

    #hobbies h2 {
        text-align: center;
        font-size: 30px;
        margin-top: 25px ;
        margin-bottom: 25px ;
    }

    #actualimage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: auto;
    }
    
}



  

